<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardiff University School of Computer Science and Informatics - Module Description Tracking Form</title>
    <style>
        {% include "lib/normalize.css" %}
        {% include "lib/skeleton.css" %}
        {% include "style.css" %}
    </style>
</head>
<body>
    <header class="container">
        <h1>Cardiff University School of Computer Science and Informatics</h1>
        <h2>Module Description Tracking Form</h2>
    </header>
    <section class="details container">
        <hr>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="module_code_text_input">Module Code:</label>
                    <input type="text" class="u-full-width" id="module_code_text_input">
                </div>
                <div class="six columns">
                    <label for="module_leader_text_input">Module Leader:</label>
                    <input type="text" class="u-full-width" id="module_leader_text_input">
                </div>
            </div>
        </form>
        <hr>
    </section>
    <div class="page-break"></div>

</body>
</html>
